@charset "utf-8";
@import url(../css/html5reset-1.6.1.css); /*reset css*/

.inner {
    width: 100%;
    margin: auto;
}
.inner:after {
    content: "";
    clear: both;
    display: block;
}

/*no-gutters*/
.no-gutters {
    padding: 0;
    margin: 0;
}
/* header */
#header {
    top: -100px;
    position: absolute;
    width: 100%;
    height: 164px;
    margin: 100px auto 0;
    padding: 50px 0 0;
    line-height: 1;
    z-index: 999;
    background-color: #F6F0EB;
}
#header a,
#header {
    text-decoration: none;
    color: #9d9da1;
    font-family: apercu-medium, "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 44px;
}
#header .inner{
    position: relative;
    width: calc(100% - 160px);
    margin: 0 80px;
}
#header .logo {
    display: block;
    width: 160px;
    text-align: center;
    margin: 0 auto;
    font-size: 36px;
}
#header .nav_ul_right {
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
#header .nav_ul_right li {
    float: right;
    padding: 0 15px;
}

#global_nav .nav_ul_left {
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
#global_nav .nav_ul_left li {
    float: left;
    padding: 0 30px;
}
#global_nav .nav_ul_left li:nth-child(4),
#global_nav .nav_ul_left li:nth-child(5),
#global_nav .nav_ul_left li:nth-child(6),
#global_nav .nav_ul_left li:nth-child(7) {
    display: none;
}
#header_sp ul {
    display: none;
}
/* Fixed */
#header.fixed {
    margin-top: 0;
    top: 0;
    position: fixed;
    padding-top: 10px;
    height: 80px;
    background: #E7C2BE;
/*change opacity*/
    filter:alpha(opacity=90);
    -moz-opacity: 0.9;
    opacity: 0.9;
/*fadein*/
    animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
}
@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1}
}
#header.fixed #global_nav ul li a {
    color: #ffffff;
}
#header.fixed .nav_ul_right li a {
    color: #ffffff;
}
#header.fixed .logo {
    color: #ffffff;
}

/* Toggle Button */
#nav_toggle {
    display: none;
    position: absolute;
    left: 50px;
    top: 33px;
    width: 57px;
    height: 41px;
    cursor: pointer;
    z-index: 101;
}
#nav_toggle div {
    position: relative;
}
#nav_toggle span {
    display: block;
    position: absolute;
    left: 33%;
    height: 2px;
    width: 33%;
    margin-top: 15px;
    background: #666;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
}
#nav_toggle span:nth-child(1) {
    top: 0;
}
#nav_toggle span:nth-child(2) {
    top: 5px;
}
#nav_toggle span:nth-child(3) {
    top: 10px;
}


@media screen and (max-width: 991px) {
    #header,
    .inner {
        width: 100%;
        padding: 0;
    }
    #header {
        top: 0;
        position: fixed;
        height: 110px;
        margin-top: 0;
    }
    #header .inner {
        margin: 0;
        width: 100%;
    }
    #header .nav_ul_right {
        display: block;
        list-style: none;
        position: absolute;
        top: 25px;
        left: 0;
        width: 100%;
        z-index: 1000;
    }
    #header .nav_ul_right li {
        float: right;
    }
    #header .nav_ul_right li:nth-child(2),
    #header .nav_ul_right li:nth-child(3),
    #header .nav_ul_right li:nth-child(4)
     {
        display: none;
    }
    #header .logo {
        padding-top: 33px;
    }
    /* Fixed reset */
    #header.fixed {
        padding-top: 0;
        background: transparent;
        /*reset opacity*/
        filter:alpha(opacity=100);
        -moz-opacity: 1;
        opacity: 1;
        /*reset animation*/
        animation: none;
    }
    /*reset menus style*/
    #header.fixed #global_nav ul li a {
        color: #9d9da1;
    }
    #header.fixed .nav_ul_right li a {
        color: #9d9da1;
    }
    #header.fixed .logo {
        color: #9d9da1;
    }

    #header_sp {
        background: #F6F0EB;
        width: 100%;
        height: 110px;
        z-index: 999;
        position: relative;
    }
    #global_nav {
        position: absolute;
        /* 開いてないときは画面外に配置 */
        top: 0;
        left: 1025px;
        background: #333;
        width: calc(100% - 80px);
        text-align: center;
        padding: 10px 0;
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        z-index: 1000;
    }
    #global_nav .nav_ul_left {
        list-style: none;
        position: static;
        right: 0;
        bottom: 0;
        font-size: 14px;
    }
    #global_nav .nav_ul_left li {
        float: none;
        position: static;
    }
    #header #global_nav .nav_ul_left li a,
    #header.fixed #global_nav .nav_ul_left li a {
        width: 100%;
        display: block;
        color: #fff;
        padding: 18px 0;
    }
    #global_nav .nav_ul_left li:nth-child(4),
    #global_nav .nav_ul_left li:nth-child(5),
    #global_nav .nav_ul_left li:nth-child(6),
    #global_nav .nav_ul_left li:nth-child(7) {
        display: block;
    }
    #global_nav .nav_ul_right li {
        display: none;
    }
    #nav_toggle {
        display: block;
    }
    /* #nav_toggle 切り替えアニメーション */
    .open #nav_toggle span:nth-child(1) {
        top: 11px;
        -webkit-transform: rotate(315deg);
        -moz-transform: rotate(315deg);
        transform: rotate(315deg);
    }
    .open #nav_toggle span:nth-child(2) {
        width: 0;
        left: 50%;
    }
    .open #nav_toggle span:nth-child(3) {
        top: 11px;
        -webkit-transform: rotate(-315deg);
        -moz-transform: rotate(-315deg);
        transform: rotate(-315deg);
    }
    /* #global_nav スライドアニメーション */
    .open #global_nav {
        -moz-transform: translateX(-920px);
        -webkit-transform: translateX(-920px);
        transform: translateX(-920px);
    }
}

/* top */
#top {
    width: 100%;
    height: auto;
    background-color: #F6F0EB;
}
#top .inner {
    width: 100%;
    padding: 0 100px 80px;
}
#top img {
    width: 100%;
    height: auto;
}
#top .main_gallery {
    width: 100%;
}

/* flickity custom */
#top .flickity-page-dots {
    bottom: 30px;
}
#top .flickity-page-dots .dot {
    width: 8px;
    height: 8px;
    opacity: 1;
    background: transparent;
    border: 1px solid #ffffff;
}
#top .flickity-page-dots .dot.is-selected {
    background: #ffffff;
}
.g_1 {
  display: inline-block;
  width: 100%;
  height: auto;
}

#about {
    width: 100%;
    height: auto;
    background-color: #E6C0BD;
    color: #ffffff;
}
#about .inner {
    padding: 130px 200px;
}
#about .container {
    display: block;
    width: 100%;
}
#about h1 {
    display: block;
    font-family: freight-text-pro, Garamond, Georgia, serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
}
#about h2 {
    display: block;
    margin-top: 40px;
    font-family: freight-text-pro, Garamond, Georgia, serif;
    font-weight: 300;
    font-size: 45px;
    line-height: 45px;
}
#about .about_dis {
    display: block;
    width: 70%;
    margin: 32px 0 0 auto;
    font-family: freight-text-pro, Garamond, Georgia, serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
#about .about_btn {
    display: block;
    width: 70%;
    height: 40px;
    margin: 25px 0 0 auto;
    text-align: center;
    background-color: #ffffff;
    font-family: apercu-medium, "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #9d9da1;
    text-decoration: none;
    padding-top: 10px;
}
@media screen and (max-width: 991px) {
    #about .inner {
        padding: 100px 94px;
    }
    #about .about_dis {
        width: 100%;
        margin: 24px 0 0 0;
    }
    #about .about_btn {
        width: 142px;
        margin: 25px 0 0 0;
    }
}

/*shop by color*/
#shop_by_color {
    width: 100%;
    background-color: #F6F0EB;
}
#shop_by_color .inner{
    padding: 80px 90px;
}
#shop_by_color .shop_title {
    display: block;
    margin-bottom: 90px;
}
#shop_by_color .shop_title .shop_num {
    display: inline;
    margin-right: 100px;
    font-family: freight-display-pro, Garamond, Georgia, serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 30px;
    color: #707272;
}
#shop_by_color .shop_title .shop_how {
    display: inline;
    font-family: freight-display-pro, Garamond, Georgia, serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 30px;
    color: #707272;
}

#shop_by_color .color_content {
    width: 100%;
    padding: 0 10px;
}
#shop_by_color .color_content img{
    width: 100%;
    height: auto;
}
#shop_by_color .color_content .color_dis {
    display: none;
}
@media screen and (max-width: 991px) {
    #shop_by_color .inner {
        padding: 80px 70px;
    }
    #shop_by_color .shop_title .shop_num {
        margin-right: 150px;
    }
    #shop_by_color .color_content {
        padding: 0;
    }
    #shop_by_color .color_content .color_dis {
        display: block;
        text-align: center;
        padding: 36px 0;
    }
    #shop_by_color .color_content .color_dis .color_name {
        display: block;
        width: 90%;
        margin: 0 auto;
        font-family: freight-display-pro, Garamond, Georgia, serif;
        font-weight: 300;
        font-size: 30px;
        line-height: 30px;
        color: #707272;
    }
    #shop_by_color .color_content .color_dis .shop_dress_btn {
        display: block;
        text-decoration: none;
        width: 50%;
        margin: 50px auto 0;
        font-family: apercu-medium, "Helvetica Neue", Arial, sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 44px;
        color: #ffffff;
        background-color: #CC818A;
    }
}
@media screen and (max-width: 767px) {
    #shop_by_color .inner {
        padding: 80px 0;
    }
    #shop_by_color .shop_title {
       margin-left: 20px;
    }
    #shop_by_color .shop_title .shop_num {
        display: none;
    }
    #shop_by_color .color_content .color_dis {
        padding: 36px 20px 0;
    }
    #shop_by_color .color_content .color_dis .shop_dress_btn {
        width: 100%;
        margin: 50px 0;
    }
}

/*shop all styles*/
#shop_all_styles {
    width: 100%;
    background-color: #F6F0EB;
}
#shop_all_styles .inner{
    padding: 80px 90px;
}
#shop_all_styles .shop_title {
    display: block;
    margin-bottom: 90px;
}
#shop_all_styles .shop_title .shop_num {
    display: inline;
    margin-right: 100px;
    font-family: freight-display-pro, Garamond, Georgia, serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 30px;
    color: #707272;
}
#shop_all_styles .shop_title .shop_how {
    display: inline;
    font-family: freight-display-pro, Garamond, Georgia, serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 30px;
    color: #707272;
}
#shop_all_styles .shop_content {
    width: 100%;
    padding: 0 10px;
}
#shop_all_styles .shop_content img{
    width: 100%;
    height: auto;
}
#shop_all_styles .shop_content .shop_dis {
    display: none;
}
@media screen and (max-width: 991px) {
    #shop_all_styles .inner {
        padding: 80px 70px;
    }
    #shop_all_styles .shop_title .shop_num {
        margin-right: 150px;
    }
    #shop_all_styles .shop_content {
        padding: 0;
    }
    #shop_all_styles .shop_content .shop_dis {
        display: block;
        text-align: center;
        padding: 36px 0;
    }
    #shop_all_styles .shop_content .shop_dis p {
        display: block;
        width: 90%;
        margin: 0 auto;
        font-family: freight-display-pro, Garamond, Georgia, serif;
        font-weight: 300;
        font-size: 30px;
        line-height: 30px;
        color: #707272;
    }
    #shop_all_styles .shop_content .shop_dis a {
        display: block;
        text-decoration: none;
        width: 50%;
        margin: 50px auto 0;
        font-family: apercu-medium, "Helvetica Neue", Arial, sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 44px;
        color: #ffffff;
        background-color: #CC818A;
    }
}
@media screen and (max-width: 767px) {
    #shop_all_styles .inner {
        padding: 80px 0;
    }
    #shop_all_styles .shop_title {
       margin-left: 20px;
    }
    #shop_all_styles .shop_title .shop_num {
        display: none;
    }
    #shop_all_styles .shop_content .shop_dis {
        padding: 36px 20px 0;
    }
    #shop_all_styles .shop_content .shop_dis a {
        width: 100%;
        margin: 50px 0;
    }
}


